:host {
  .add-product-form {
    padding: 30px 0;
    width: 50%;
    margin: auto;
    .form-control {
      margin-top: 25px;
    }
    .btn {
      margin-top: 25px;
      width: 100%;
    }
  }
}
