<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="addProduct(form)" class="add-product-form">
    <h1>Add product form</h1>
    <div class="form-floating">
      <input class="form-control"
             formControlName="productName"
             id="productName">
      <label for="productName">Product name</label>
    </div>
    <div class="form-floating">
      <input class="form-control"
             formControlName="description"
             id="productDescription">
      <label for="productDescription">Product description</label>
    </div>
    <div class="form-floating">
      <input class="form-control"
             formControlName="price"
             id="price">
      <label for="price">Product price</label>
    </div>
    <button class="btn btn-sm btn-outline-primary">Add product</button>
  </form>
</div>
